*{
    margin: 0;
    padding: 0;
}


body{
    background-color:black;
    color: rgb(247, 247, 243);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: rgb(21, 21, 71);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style: none;
    margin: 0 24px;
}
.left{
    font-size: 1.5rem;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
}
.leftSection{
    background-color: rgb(219, 36, 36);
    width: 25px;
}






































































